@charset "UTF-8";

.card-img-top {
    width: 100%;
    height: 30vh;
    object-fit: cover;
}

#blogfooter {
    color: #ffffff8c;
    font-family: "Nunito", -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
    text-decoration: none;
}

.hidden {
    display: none;
}

.leaderboard {
    text-align: right;

}

.leaderboardName {
    text-align: right;

}

.option {
    display: block;
    background-color: white;
    color: #212529;
    box-shadow: 0 0.1875rem 0.1875rem 0 rgb(0 0 0 / 10%) !important;
    padding: 1.25rem 2rem;
    font-family: "Varela Round", -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
    font-size: 80%;
    text-transform: uppercase;
    letter-spacing: 0.15rem;
    border: 0;
    text-align: center;
    font-weight: 400;
    line-height: 1.5;
}

#question {
    font-weight: 600;
    font-size: 1.25rem;
    text-align: center;
}

#update {
    color: #66A19D;
}

.failureButton {
    display: inline-block;
    color: white;
}

#answer1 {
    background-color: white;
    color: #212529;
}

.articleImage {
    height: 100%;
}

#clickableBlog {
    color: #212529;
    text-decoration: none;
    margin-bottom: 1rem;
}